.profile {
  display: grid;
  grid-template-columns: 350px 220px 220px 220px;
  grid-template-rows: 33% 67%;
  height: calc(90vh - 70px);
  padding: 30px;
}
.profile .main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}
.profile .description {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}
.main, .description, .stat {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

/* Fonts and colors */
.profile h2 {
  font-size: 22px;
}
.profile h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.profile p {
  color: rgba(0,0,0,0.6);
}
.profile .btn {
  border-radius: 0;
  border: none;
  width: 100%;
}

.btn-top-margin {
  margin-top: 30px;
}
.profile .btn:hover {
  opacity: 0.7;
}
.stat h3 {
  color: #37B686;
  font-size: 28px;
}
.stat h5 {
  color: #F96;
  font-size: 19px;
  margin: 19px 0;
  font-weight: bold;
}
.description h3 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;
}
.description p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}

.user-wraper {
  vertical-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
