.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin: 10px 0;
}

.photo {
  background: blue;
}

.button {
  padding: 5px 40px;
}

.booking-button {
  display: flex;
  margin: 20px 0;
}

h2 {
  margin-top: 0;
}

.show h2 {
  color: #F96;
  text-shadow: none;
  font-size: 30px;
}

.user-card {
  border: 1px solid #eee;
  text-align: center;
}

.back-link {
  padding: 40px;
}

.image {
  border-radius: inherit;
  box-shadow: 2px 4px 5px gray;
}

.btn-default {
  .fas{
  color: #1f74ba;
  }
}

.card-image {
  border-radius: 5px;
}
