.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.photo {
  background: blue;
}

.button {
  padding: 5px 40px;
}

.booking-button {
  display: flex;
  margin: 20px 0;
}
