<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e64be3b9dcb29b57f6034eeccc6561e&auto=format&fit=crop&w=1950&q=80');">
  <div class="banner-content">
    <h2> Learn more </h2>
  </div>
</div>
<div class='container'>
  <div class="contact-card">
    <h1>Animal Lovers Wanted!</h1>
    <h2>Are you a dog lover with pet care experience? Want to earn money working with dogs? Learn more about becoming a Wag! certified dog walker and sitter in your city.</h2>
    <h3>

    Wag! co-founder and founding CEO Joshua Viner missed his childhood pet, a Shetland Sheepdog named Brittany. Given his busy schedule as a tech entrepreneur in LA, Joshua was worried about committing to a dog of his own and his family and friends convinced him that it wouldn't be fair. The more he thought about it, though, the more passionate he became about making dog ownership easier for busy people like him.

    Using their background in building consumer tech companies and scaling them to millions of users, Josh and his brother Jon founded Wag! with the mission to make it easier to own a dog. Wag's goal is to be your dog's button on your phone.

    Josh connected with Jason Meltzer, Wag!'s co-founder and Chief Dog Officer, and the founder of Surfdog LA, one of Los Angeles' best loved dog walking services. And the rest is . . . Wag!

    With so many apps to help make our lives easier it’s about time that our furry loved ones have an app for themselves on our phones!
    </h3>
  </div>
</div>


