<div class = 'container'>
  <div class='contact-card'>
    <h1>Question?</h1>
    <h2>Find a collection of the most frequently asked questions in our knowledge centre.</h2>
    <%= link_to "FAQ", faq_path, class:'btn'  %>
  </div>
  <div class='contact-card'>
    <h1>Constact us!</h1>
    <h2>Didn't find what you were looking for in our knowledge center? Just get in touch!</h2>
  </div>

</div>


