<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e64be3b9dcb29b57f6034eeccc6561e&auto=format&fit=crop&w=1950&q=80');">
  <div class="banner-content">
    <h2> Contact us! </h2>
  </div>
</div>
<div class = 'container'>
  <div class='contact-card'>
    <h1>Question?</h1>
    <h2>Find a collection of the most frequently asked questions in our knowledge centre.</h2>
    <%= link_to "FAQ", faq_path, class:'btn'  %>
  </div>
  <div class='contact-card'>
    <h1>Constact us!</h1>
    <h2>Didn't find what you were looking for in our knowledge center? Just get in touch!</h2>
  </div>

</div>


