  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e64be3b9dcb29b57f6034eeccc6561e&auto=format&fit=crop&w=1950&q=80');">
    <div class="banner-content">
      <h1>Contact us</h1>
    </div>
  </div>

<!-- <div class="dashboard-wrapper"> -->
  <div class = 'container'>
    <div class='contact-card'>
      <h2>Question?</h2>
      <h3>Find a collection of the most frequently asked questions in our knowledge centre.</h3>
      <%= link_to "FAQ", faq_path, class:'btn faq'  %>
      <p>If you can't find the answer to your queistion, please fill in the form below</p>
    </div>
  </div>

  <!-- This Container is for the contact information-->
  <div id="contact" class="container bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Canggu, Bali</p>
        <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
        <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-primary pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div>
 -->
