.card {
  min-height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4);
  background-size: cover !important;
  background-position: center;
  position: relative;
  margin-bottom: 30px;
  background-color: #f4f4f4;
  transition-property: transform;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}

.image-card {
  height: 250px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 30px;
  position: relative;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-shadow: 1px 2px 2px gray;
  color: white;
}

.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-index:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.card h2 {
  color: white;
}

.card-content {
  width: 85%;
  margin: 35px auto;
  text-shadow: none;
  height: 200px;
}

.card-content {
  min-height: 280px;
}

.orange-header {
  color: #F96 !important;
}

.card-content h4 {
  font-size: 20px;
  margin-top: 0;
  color: black;
}

.card-content p {
  color: #303030;
  font-size: 15px;
  padding-bottom: 15px;
}

.card-link:hover {
  opacity: 0.2;
}



