.scribble1 {
  position: absolute;
  top: 34px;
  left: 46px;
}
.scribble2 {
  // position: absolute;
  margin-bottom: 20px;
  // top: -2px;
  // left: 230px;
}
.scribble3 {
  position: absolute;
  top: 54px;
  left: 675px;
}

.scribble4 {
  position: absolute;
  top: 184px;
  left: 365px;
}
