.user-description {
  height: 250px;
  weight: 400px;

}
.user-description p {
  // text-shadow: 0 1px 3px rgba(0,0,0,0.4);
  color: black;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  margin: 0 auto;
  width: 970px;
}

